@use "../vars" as *;
@use "@kth/style/scss/components/navigation-tabs.scss";

#kpm-6cf53 .kpm-groups {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: calc(4 * var(--kpmGap));
  $colCount: 3;
  flex-direction: column!important;

  ul {
    column-count: $colCount;
    column-fill: balance;
    gap: $rowGap $colGap;

    & > .kpm-groups-item {
      display: flex;
      align-items: start;
      margin-bottom: $rowGap;
      gap: $rowGap $colGap;

      .icon.star {
        // Fix alignment error
        margin-bottom: 2px;
      }
    }
  }
}

#kpm-6cf53 {
  .kth-navigation-tabs__tablist {
    align-items: start;
    gap: calc(2 * var(--kpmGap)) calc(4 * var(--kpmGap));
  }
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-groups ul > .kpm-groups-item {
    flex-basis: 100%;
    font-size: 1.1em;
  }
}
