#kpm-6cf53 .kpm-groups {
  & > ul {
    display: flex;
    flex-flow: row wrap;
    gap: calc(2 * var(--kpmGap)) calc(4 * var(--kpmGap));
    align-items: center;

    & > li {
      display: flex;
      align-items: center;
      width: calc(50% - 2 * var(--kpmGap));
      margin-bottom: 0;
      padding: var(--kpmPad);
      gap: calc(2 * var(--kpmGap));

      .icon.star {
        color: var(--kpmIconStarBg);
        // Fix alignment error
        margin-bottom: 2px;

        &.active {
          color: var(--kpmIconStarActiveBg);
        }
      }
    }
  }
}
