@use "../vars" as *;

#kpm-6cf53 .kpm-profile .kpm-profile-link {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: $rowGap;

  display: flex;
  flex-flow: row nowrap;
  gap: $rowGap $colGap;
  align-items: center;

  img {
    height: 3em;
    width: 3em;
  }
}

#kpm-6cf53 .kpm-button.change-lang::after {
  display: inline-block;
  content: " ";
  width: 1em;
  height: 1em;
  background: $data-language-black-svg;
  margin: 0.2em 0 0.2em 1ch;
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-profile {
    & > .kpm-col {
      font-size: 1.1em;
    }
  }
}
