@use "../vars" as *;

#kpm-6cf53 .kpm-programmes {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: calc(4 * var(--kpmGap));
  $colCount: 2;
  $colWidth: calc(100% / $colCount - $colGap * ($colCount - 1) / $colCount);

  & > ul {
    display: flex;
    flex-flow: row wrap;
    gap: $rowGap $colGap;
    align-items: flex-start;
    width: 100%;

    & > li {
      display: flex;
      align-items: flex-start;
      width: $colWidth;
      margin-bottom: 0;
      gap: $rowGap;

      .icon.star {
        // Fix alignment error
        margin-bottom: 2px;
      }
    }
  }
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-programmes .kpm-programme-item {
    flex-basis: 100%;
    font-size: 1.1em;
  }
}
