@use "../vars" as *;

#kpm-6cf53 .kpm-programs {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: calc(4 * var(--kpmGap));

  display: flex;
  flex-flow: column nowrap;
  
  .kpm-program-item {
    display: flex;
    flex-flow: row nowrap;
    gap: $rowGap $colGap;
    width: 100%;

    align-items: flex-start;
    padding: calc(2 * var(--kpmPad)) 0;
    border-bottom: 1px solid var(--kpmPaneSepatorFg);

    h2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
    }

    .kpm-program-item-code {
      font-weight: 600;
    }

    .kpm-program-item-name {
      margin-right: auto;
    }
  }

}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-programs {
    .kpm-program-item {
      flex-wrap: wrap;
      a {
        width: calc(50% - 2 * var(--kpmGap));
      }
    }
  }
}
