@import "../vars";

#kpm-6cf53 .kpm-studies {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: $rowGap;
  $colCount: 4;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: $rowGap $colGap;
  width: 100%;

  --borderFg: var(--kpmPaneSepatorFg);

  .kpm-studies-course {
    flex: 14em 1 1;
    padding: var(--kpmPad);

    border: var(--border);

    &.kpm-antagna {
      --border: 1px solid #915b17;
    }

    &.kpm-registrerade {
      --border: 1px solid #d4d4d4;
    }

    &.kpm-godkand {
      --border: 2px solid #d4d4d4;
    }

    h2 {
      font-size: 1em;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-weight: 600;
    }
    h2 + p {
      line-height: 1.2em;
      height: 2.4em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; // temporary draft
      -webkit-line-clamp: 2;
      -webkit-box-orient: block-axis;
    }

    h3 {
      margin-top: $rowGap;
    }
    select.kpm-rounds {
      margin-top: $rowGap;
      float: right;
      text-align: right;
      background: var(--kpmPaneBg);
      border: 0;
    }
    ul {
      height: calc(3 * (1.5em + var(--kpmMargin)));
    }

    .kpm-studies-course-status {
      font-weight: 400;
      color: var(--kpmPaneTextSoft);
    }

    .kpm-link-list {
      min-height: 50px;
      min-width: 30ch;

      ul {
        $rowGap: calc(3 * var(--kpmGap));
        $colGap: $rowGap;
        display: flex;
        flex-direction: column;
        gap: $rowGap $colGap;
      }
    }
  }
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-studies .kpm-studies-course {
    flex-basis: 100%;
    font-size: 2em;
  }
}