@import "../vars";

#kpm-6cf53 .kpm-teaching-courses {
  margin: 1rem 2rem;
}

#kpm-6cf53 .kpm-teaching-courses .kpm-teaching-course {
  // padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;

  .kpm-dropdownmenu-group {
    display: inline-block;

    &:not(:last-child) {
      margin: 0 1.5rem 0 0;
    }
  }

  h2 {
    padding: 0;
    margin: 0 0 0.25rem 0;
    font-size: 1rem;
    font-weight: 600;

    span {
      margin: 0 0 0.25rem 0;
    }
  }

  h3 {
    font-weight: 600;
    padding: 0;
    margin: 0.5rem 1rem 0 0;
    font-size: 1rem;
  }

  .kpm-teaching-shortcuts {
    a {
      padding: 0.25rem 0;
      margin: 0 1rem 0 0;
      display: inline-block;
    }
  }

  .kpm-teaching-canvas {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 1rem 0 0;
      display: inline;

      li {
        display: inline-block;
        padding: 0;
        margin: 0 1rem 0 0;
      }

      a {
        padding: 0.25rem 0;
        display: block;
      }
    }

    .kpm-more-courses {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 40rem) {
  #kpm-6cf53 .kpm-teaching-courses {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.25rem 0.5rem;

    .kpm-teaching-course {
      // Replace this with `subgrid` when available for Chrome!
      display: contents;

      h2 {
        // Replace this with `subgrid` when available for Chrome!
        display: contents;

        span {
          margin: 0.25rem 0 0.25rem 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .kpm-teaching-course-code {
          padding-right: 1rem;
        }
      }

      h3 {
        margin: 0 1rem 0 0;
        display: inline-block;
        font-weight: normal;
      }

      .kpm-muted-text {
        display: inline-block;
      }

      .kpm-teaching-canvas {
        grid-column: 1 / 4;
        @media screen and (min-width: 60rem) {
          grid-column: 2 / 4;
        }
      }
    }

    hr {
      grid-column: 1 / 4;
      width: 100%;
      margin: 0.25rem 0;
      border: none;
      border-bottom: 1px solid var(--kpmPaneSepatorFg);
    }
  }
}
