@import "../vars";

#kpm-6cf53 .teaching-courses {
  margin: 1rem 2rem;
}

#kpm-6cf53 .teaching-courses .course {
  padding: 0 0 1rem 0;
  margin: 0 0 1rem 0;

  h2 {
    padding: 0;
    margin: 0 0 0.25rem 0;
    font-size: 1rem;

    span {
      margin: 0 0 0.25rem 0;
    }
  }

  h3 {
    padding: 0;
    margin: 0.5rem 1rem 0 0;
    font-size: 1rem;
  }

  .shortcuts {
    a {
      padding: 0.25rem 0;
      margin: 0 1rem 0 0;
      display: inline-block;
    }
  }

  .canvas {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 1rem 0 0;
      display: inline;

      li {
        display: inline-block;
        padding: 0;
        margin: 0 1rem 0 0;
      }

      a {
        padding: 0.25rem 0;
        display: block;
      }
    }

    .more-courses {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 40rem) {
  .courses {
    display: grid;
    grid-template-columns: auto 1fr auto;

    .course {
      // Replace this with `subgrid` when available for Chrome!
      display: contents;

      h2 {
        // Replace this with `subgrid` when available for Chrome!
        display: contents;

        span {
          margin: 0.25rem 0 0.5rem 0;
        }

        .course-code {
          padding-right: 1rem;
        }
      }

      h3 {
        margin: 0 1rem 0 0;
        display: inline-block;
        font-weight: normal;
      }

      .canvas {
        grid-column: 1 / 4;
        @media screen and (min-width: 60rem) {
          grid-column: 2 / 4;
        }
      }
    }

    hr {
      grid-column: 1 / 4;
      width: 100%;
      margin: 1rem 0;
      border: none;
      border-bottom: 1px solid --kpmPaneSeparatorFg;
    }
  }
}
