.env
node_modules
.parcel-cache
load-testing/__pycache__
kpm/kpm-frontend/dist
kpm/kpm-frontend/distProd
packages/evolene-local-packages/package-lock.json
*.DS_Store
settings.json
launch.json
test-users.txt
.env.dev
.env.prod
