// TODO: We need to go through these breakpoints,
// also check headers on site for mobile pixel size
$mblBreakpoint: "screen and (max-width: 430px)";
$desktopBreakpoint: "screen and (min-width: 431px)";
$desktopMediumBreakpoint: "screen and (min-width: 431px) and (max-width: 928px)";
$desktopLargeBreakpoint: "screen and (min-width: 929px)";

$prod: "https://app.kth.se/style/static/kth-style/img/kth-style";
$ref: "https://app-r.referens.sys.kth.se/style/static/kth-style/img/kth-style";

@function kthStyleUrl($path) {
  @return url($prod + $path), url($ref + $path);
}
