@forward "kth-style/public/sass/variables/svg_data";

// TODO: We need to go through these breakpoints,
// also check headers on site for mobile pixel size
$mblBreakpoint: "screen and (max-width: 430px)";
$desktopBreakpoint: "screen and (min-width: 431px)";
$desktopMediumBreakpoint: "screen and (min-width: 431px) and (max-width: 928px)";
$desktopLargeBreakpoint: "screen and (min-width: 929px)";
