@use "./stylesVars.scss";
@use "./stylesReset.scss";
@use "./stylesCanvas.scss";

#kpm-6cf53 {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// Global styling
#kpm-6cf53 .kpm-modal {
  pointer-events: all;
  max-width: 1200px;
}

#kpm-6cf53 .kpm-modal-backdrop {
  pointer-events: all;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45));
}

#kpm-6cf53 .kpm-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#kpm-6cf53 .kpm-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex-grow: 1;

  .kpm-col-header {
    font-size: 1.17em;
    font-weight: bold;
    border-bottom: 1px solid var(--kpmPaneSepatorFg);
    margin-bottom: var(--kpmMargin);
  }
}

#kpm-6cf53 button.kpm-button,
#kpm-6cf53 a.kpm-button {
  display: flex;
  padding: calc(var(--kpmPad)) calc(3 * var(--kpmPad));
  border-radius: var(--kpmButtonRadius);
  color: var(--kpmButtonText);
  background-color: var(--kpmButtonBg);
  border: 2px solid var(--kpmButtonFg);
  text-decoration: none;

  &:hover {
    color: var(--kpmButtonHoverText);
    background-color: var(--kpmButtonHoverBg);
    border-color: var(--kpmButtonHoverFg);
    text-decoration: none;
    cursor: pointer;
  }

  &.kpm-button-primary {
    --kpmButtonBg: var(--kpmPaneFg);
    --kpmButtonFg: var(--kpmPaneBg);
    --kpmButtonText: var(--kpmPaneBg);
  }
  
  &.kpm-button-link {
    --kpmButtonBg: var(--kpmPaneBg);
    --kpmButtonHoverBg: var(--kpmPaneBg);
    --kpmButtonFg: var(--kpmPaneBg);
    --kpmButtonHoverFg: var(--kpmPaneBg);
    --kpmButtonText: var(--kpmPaneFg);
    --kpmButtonHoverText: var(--kpmPaneText);
    padding: calc(var(--kpmPad) / 2) 0;
    margin: calc(var(--kpmPad) / 2) 0;
    border: 1px solid var(--kpmButtonBg);
    border-radius: 0;
    &:hover {
      border-bottom-color: var(--kpmButtonHoverText);
    }
  }
}

// Typography in menu panes
#kpm-6cf53 .kpm-modal-content {
  padding: calc(2 * var(--kpmPad));

  h1 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: var(--kpmMargin);
  }

  a.icon {
    color: var(--kpmLink);
    text-decoration: none;
    line-height: 1em;

    &:hover {
      color: var(--kpmLinkHover);
      text-decoration: underline;
    }
  }

  .kpm-muted-text {
    padding-top: 0.1em;
    color: var(--kpmPaneTextMuted);
    font-size: 0.9em;
  }
}
