@use "./stylesVars.scss";
@use "./stylesReset.scss";

#kpm-6cf53 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#kpm-6cf53 .kpm-menu {
  background-color: var(--kpmMenuBg);
  color: var(--kpmMenuText);
  width: 100%;
  flex-grow: 0;

  ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
  }

  li {
    display: inline-block;
    list-style: none;
    cursor: pointer;

    a {
      display: inline-block;
      color: var(--kpmMenuText);
      text-decoration: none;
      padding: var(--kpmPad) calc(2 * var(--kpmPad));
    }

    a.active,
    a:hover {
      color: var(--kpmMenuText);
      background-color: var(--kpmMenuHoverBg);
    }
  }

  .kpm-profile-item a {
    display: flex;
    align-items: center;
    gap: calc(2 * var(--kpmGap));
    padding: 0 calc(2 * var(--kpmPad)) 0 0;
  
    .kpm-profile-image {
      height: calc(1.5em + 2 * var(--kpmPad));
    }
  }

  .kpm-menu-shotcuts {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    a {
      display: inline-block;
      flex-grow: 1;
      height: 100%;
      padding: calc(var(--kpmPad));
    }

    svg {
      height: 100%;
      vertical-align: middle;
      width: auto;
    }
  }
}

// Global styling
#kpm-6cf53 .kpm-modal {
  max-width: 1200px;
}

#kpm-6cf53 .kpm-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#kpm-6cf53 .kpm-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#kpm-6cf53 button.kpm-button,
#kpm-6cf53 a.kpm-button {
  display: flex;
  padding: calc(var(--kpmPad)) calc(3 * var(--kpmPad));
  border-radius: var(--kpmButtonRadius);
  color: var(--kpmButtonText);
  background-color: var(--kpmButtonBg);
  border: 2px solid var(--kpmButtonFg);
  text-decoration: none;

  &:hover {
    color: var(--kpmButtonHoverText);
    background-color: var(--kpmButtonHoverBg);
    border-color: var(--kpmButtonHoverFg);
    text-decoration: none;
  }
}

// Typography in menu panes
#kpm-6cf53 .kpm-modal-content {
  padding: calc(2 * var(--kpmPad));

  h1 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: var(--kpmMargin);
  }

  a.icon {
    color: var(--kpmLink);
    text-decoration: none;

    &:hover {
      color: var(--kpmLinkHover);
      text-decoration: underline;
    }
  }
}
