@use "@kth/style/scss/tokens/icons";
@use "@kth/style/scss/utils/mixins";
@use "@kth/style/scss/components/visually-hidden";
@use "vars" as *;

$icon-kpm-feed: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cmask%20id%3D%22b%22%20width%3D%2220%22%20height%3D%2220%22%20x%3D%220%22%20y%3D%220%22%20maskUnits%3D%22userSpaceOnUse%22%20style%3D%22mask-type%3Aalpha%22%3E%3Cpath%20fill%3D%22%23D9D9D9%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23b)%22%3E%3Cpath%20fill%3D%22%23212121%22%20d%3D%22M7.525%2015.26c-.453%200-.836-.158-1.147-.471a1.563%201.563%200%200%201-.468-1.144V12.53h9.645V5.895h1.114c.45%200%20.83.157%201.145.47.313.314.47.696.47%201.145v10.794l-3.045-3.045H7.525Zm-5.809-1.155V3.31c0-.45.157-.83.47-1.144.314-.314.695-.47%201.145-.47h9.11c.448%200%20.83.156%201.143.47.314.313.47.695.47%201.144v6.104c0%20.45-.156.83-.47%201.145-.313.313-.695.47-1.144.47H4.796l-3.08%203.075ZM12.326%209.3V3.425h-8.88v5.876h8.88Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
$icon-kpm-mail: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cmask%20id%3D%22b%22%20width%3D%2220%22%20height%3D%2220%22%20x%3D%220%22%20y%3D%220%22%20maskUnits%3D%22userSpaceOnUse%22%20style%3D%22mask-type%3Aalpha%22%3E%3Cpath%20fill%3D%22%23D9D9D9%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23b)%22%3E%3Cpath%20fill%3D%22%23212121%22%20d%3D%22M3.56%2016.17c-.48%200-.887-.17-1.224-.506a1.668%201.668%200%200%201-.505-1.225V5.554c0-.48.168-.886.505-1.221A1.672%201.672%200%200%201%203.56%203.83h12.88c.48%200%20.887.168%201.224.505.337.337.505.745.505%201.225v8.885c0%20.48-.168.886-.505%201.221a1.672%201.672%200%200%201-1.224.502H3.56ZM10%2011.213%203.56%207.485v6.955h12.88V7.485L10%2011.215Zm0-1.925%206.44-3.73H3.56L10%209.29ZM3.56%207.485V5.56v8.88-6.955Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
$icon-kpm-notifications: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cmask%20id%3D%22b%22%20width%3D%2220%22%20height%3D%2220%22%20x%3D%220%22%20y%3D%220%22%20maskUnits%3D%22userSpaceOnUse%22%20style%3D%22mask-type%3Aalpha%22%3E%3Cpath%20fill%3D%22%23D9D9D9%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23b)%22%3E%3Cpath%20fill%3D%22%23212121%22%20d%3D%22M3.83%2015.67v-1.73h.94V9.11c0-1.252.382-2.357%201.143-3.315.761-.958%201.752-1.553%202.972-1.785V2.945c0-.31.109-.573.326-.79.216-.216.48-.324.789-.324.31%200%20.573.108.79.325.216.216.325.48.325.79v1.063c1.223.233%202.215.827%202.975%201.784.76.956%201.14%202.062%201.14%203.317v4.83h.94v1.73H3.83ZM10%2018.223c-.43%200-.796-.152-1.1-.457a1.5%201.5%200%200%201-.455-1.098h3.115c0%20.434-.153.801-.458%201.103a1.51%201.51%200%200%201-1.101.452ZM6.5%2013.94h7V9.11c0-.973-.34-1.799-1.02-2.48-.681-.68-1.508-1.02-2.48-1.02s-1.799.34-2.48%201.02c-.68.681-1.02%201.507-1.02%202.48v4.83Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");

#kpm-6cf53 .kpm-icon-button {
  display: flex;
  width: 2.25rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-block: 0.25rem transparent solid;

  &:hover {
    border-block-end-color: var(--kpmMenuText);
  }

  &::before {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--kpmMenuText);
  }

  &.mail::before {
    @include icons.with-icon($icon-kpm-mail);
  }
  // Canvas uses classname "feed", we need to prefix ours.
  &.kpm-feed::before {
    @include icons.with-icon($icon-kpm-feed);
  }
  &.notifications::before {
    @include icons.with-icon($icon-kpm-notifications);
  }
}

// TODO: move this to KTH Style
.kth-kpm {
  box-shadow: 0 0.25rem 0.25rem 0 rgb(0 0 0 / 20%);
}

#kpm-6cf53 .kpm-mobile-menu-opener {
  display: none;
}

#kpm-6cf53 .kpm-menu {
  pointer-events: all;
  background-color: var(--kpmMenuBg);
  color: var(--kpmMenuText);
  width: 100%;
  flex-grow: 0;

  > ul {
    @include mixins.container;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 0 1rem;
    display: flex;
  }

  li {
    display: block;
    list-style: none;
    cursor: pointer;
  }

  a.kth-menu-item.active {
    text-underline-offset: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.25rem;
  }

  .kpm-profile-image {
    height: 1.5rem;
    width: 1.5rem;
  }

  .kpm-menu-shotcuts {
    display: flex;
    flex-direction: row;
    padding: 0;

    .kpm-loading {
      opacity: 0.8;
      filter: blur(1px);
    }

    .kpm-has-new-notices {
      position: relative;

      .kpm-notice-new {
        background: var(--kpmAlertBg);
        border-radius: 100%;
        color: var(--kpmMenuHoverText);
        min-width: 1.5rem;
        height: 1.5rem;
        display: block;
        font-size: 0.9rem;
        line-height: 100%;
        padding: 0.3rem;
        position: absolute;
        right: 0.1em;
        text-align: center;
        top: 0.1em;
      }
      .kpm-notice-new-trail {
        display: none;
      }
    }
  }
}

#kpm-6cf53 {
  .kpm-profile-item.kpm-mobile,
  .kpm-mobile-logout.kpm-mobile {
    display: none;
  }
}

#kpm-6cf53 .kpm-mobile {
  display: none !important;
}

// Menu for mobile
@media screen and (max-width: $breakpoint-l) {
  #kpm-6cf53 .kpm-mobile {
    display: block !important;
  }
  #kpm-6cf53 .kpm-desktop {
    display: none !important;
  }

  #kpm-6cf53 .kpm-mobile-menu-opener {
    display: flex;
    justify-content: flex-end;
  }

  body #kpm-6cf53 .kpm-menu {
    height: 2.5rem;
    overflow: hidden;
    transition: height 0.2s ease-out;

    &.active {
      height: 100vh;
    }

    &.active > ul {
      visibility: visible;
      opacity: 1;
    }
  }

  body #kpm-6cf53 .kpm-menu > ul {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    flex-direction: column;

    .kpm-profile-item {
      // Hide profile image
      img {
        display: none;
      }
    }

    .kpm-mobile-logout {
      &:after {
        // TODO: Add proper logout icon
      }
    }

    & > li,
    & > li.kpm-profile-item,
    & > li.kpm-schedule-item,
    & > li.kpm-mobile-logout {
      display: unset;
    }

    .kpm-menu-item::after {
      rotate: 0deg;
    }
  }
}

// @media #{} {
//   body #kpm-6cf53 > .kpm-menu {
//     font-size: 0.9em;
//     --kpmPad: 0.4rem;
//   }
// }
