html #kpm-6cf53 {
  button,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  section,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  summary,
  code,
  form,
  fieldset,
  legend,
  input,
  p,
  select,
  blockquote,
  img,
  th,
  td {
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: inherit;
  }

  header {
    min-height: unset; // needed on intra.kth.se
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  fieldset,
  img {
    border: 0;
  }

  address,
  caption,
  cite,
  dfn,
  em,
  strong,
  var {
    font-style: normal;
    font-weight: normal;
  }

  li {
    list-style: none;
  }

  caption,
  th {
    text-align: left;
  }

  q:before,
  q:after {
    content: "";
  }

  abbr,
  acronym {
    border: 0;
    font-variant: normal;
  }

  sup {
    vertical-align: text-top;
  }

  sub {
    vertical-align: text-bottom;
  }

  legend {
    color: black;
  }

  *,
  *:before,
  *:after {
    // Use more inuitive box model
    box-sizing: border-box;
  }
}
