@use "./panes/index.scss";

body {
  padding: 0;
  margin: 0;
}

.kpm-menu {
  background-color: lightgrey;

  ol {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    display: inline-block;
    list-style: none;
    padding: 0.5em;
    cursor: pointer;

    a:hover {
      background-color: white;
    }

    a.active {
      background-color: lightgreen;
    }
  }

  .right {
    margin-left: auto;
  }
}

.AnimateMenuModal {
  &-enter-active {
    transform: translateY(-100%);
    opacity: 0.6;
  }

  &-enter-done {
    transition: all 0.8s ease-in;
    pointer-events: none;
    transform: translateY(0);
    opacity: 1;
  }

  &-exit-active {
    transition: all 0.5s ease-out;
    pointer-events: none;
    transform: translateY(-100%);
    opacity: 0.6;
  }
}

.menu-spacer {
  flex-shrink: 1;
  width: 100%;
}

.modal {
  z-index: -1;
  display: block;
  position: absolute;
  border: unset;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  padding: 0;
  left: unset;
  right: unset;
  background-color: bisque;
}

.modal-content {
  padding: 1rem;

  h1 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.5em;
  }
}