html {
    --kpmMenuBg: #65656C;
    --kpmMenuText: white;
    --kpmMenuHoverBg: #2d2d31;

    --kpmGroupBg: #F6F6F6;
    --kpmGroupFg: #D4D4D4;

    --kpmLink: #006CB7;
    --kpmLinkHover: #006388;

    --kpmPaneBg: white;
    --kpmPaneText: black;

    --kpmPad: .5rem;
    --kpmMargin: .75rem;
}