// Make space in Canvas for KPM, this was taken verbatim from Social

div.ef-file-preview-overlay {
  /*to keep the Canvas preview below the personal menu*/
  margin-top: var(--kpm-bar-height, 2em);
}
div.ReactTrayPortal div.ReactTray__Overlay,
#flash_message_holder {
  top: var(--kpm-bar-height, 2em) !important;
}

// Space for main app
#application.ic-app {
  margin-top: var(--kpm-bar-height, 2em);
}

// Make sticky menu stick to KPM
#left-side.ic-sticky-on > .ic-sticky-frame {
  top: var(--kpm-bar-height, 2em);
}

// Make main icon menu give space to KPM
header.ic-app-header {
  height: calc(100% - var(--kpm-bar-height, 2em));
  top: var(--kpm-bar-height, 2em);
}

body.use-personal-menu div.ui-widget.ui-tooltip {
  z-index: 10030;
}

body.use-personal-menu #nav-tray-portal > span > span,
div#main.ic-Layout-columns > span > span,
#discussion-toolbar > div {
  top: var(--kpm-bar-height, 2em);
}
body.use-personal-menu .bcs__trigger {
  top: var(--kpm-bar-height, 2em);
  &::after {
    top: calc(58px + var(--kpm-bar-height, 2em));
  }
}

// Tooltips gets auto positioned by canvas js, but that puts them too low.
// Normally there is no span elements directly under body, but that is
// what canvas uses for tooltips, so here's hoping this is specific
// enough.
// WARNING: This is fragile, we are asuming that the Popover designation is consitently used. /jhsware
body > span > span[data-position-content*="Popover"],
body > span > span[data-position-content*="Menu"] {
  margin-top: calc(-1 * var(--kpm-bar-height));
}

// Provide space at top of <body> for kpm on pages where this isn't done by
// the hosting page CSS. Specifically for iFrames in Canvas (SpeedGrader)
body {
  border-top: none !important;
  margin-top: calc(var(--kpm-bar-height) + 1px) !important;
  padding-top: 0;
  position: relative !important;
  scroll-padding-top: var(--kpm-bar-height);
}
