html {
  --kpmMenuBg: #65656c;
  --kpmMenuText: white;
  --kpmMenuHoverBg: #2d2d31;

  --kpmGroupBg: #f6f6f6;
  --kpmGroupFg: #d4d4d4;

  --kpmLink: #006cb7;
  --kpmLinkHover: #006388;

  --kpmPaneBg: white;
  --kpmPaneFg: #006cb7;
  --kpmPaneText: black;
  --kpmPaneSepatorFg: #d4d4d4;

  --kpmPad: 0.5rem;
  --kpmMargin: 0.75rem;
  --kpmGap: 0.35em;
  
  --kpmButtonBg: var(--kpmPaneBg);
  --kpmButtonFg: var(--kpmPaneSepatorFg);
  --kpmButtonText: var(--kpmPaneText);
  --kpmButtonHoverBg: var(--kpmPaneFg);
  --kpmButtonHoverFg: var(--kpmButtonBg);
  --kpmButtonHoverText: var(--kpmButtonBg);
  --kpmButtonRadius: 0.25em;
}
