@use "vars" as *;

#kpm-6cf53 .kpm-desktop {
  display: none !important;
}

@media screen and (min-width: $breakpoint-l) {
  #kpm-6cf53 .kpm-mobile {
    display: none !important;
  }

  #kpm-6cf53 .kpm-desktop {
    display: block !important;
  }
}
