@use "kth-style/public/sass/variables/colors";
// TODO: Remaining hex values here should probably be replace with kth-style values.

html {
  --kpmMenuBg: #{colors.$grey};
  --kpmMenuText: #{colors.$white};
  --kpmMenuHoverBg: #{colors.$white};
  --kpmMenuHoverText: #2d2d31;
  --kpmAlertBg: #{colors.$infoYellowIcon};

  --kpmLink: #{colors.$linkBlue};
  --kpmLinkHover: #{colors.$blueHover};

  --kpmPaneBg: #{colors.$white};
  --kpmPaneFg: #{colors.$linkBlue};
  --kpmPaneText: #{colors.$black};
  --kpmPaneTextSoft: #{colors.$grey}; // Soft text on white background
  --kpmPaneSepatorFg: #{colors.$borderGrey};

  --kpmPad: 0.5rem;
  --kpmMargin: 0.75rem;
  --kpmGap: 0.35em;

  --kpmButtonBg: var(--kpmPaneBg);
  --kpmButtonFg: var(--kpmPaneSepatorFg);
  --kpmButtonText: var(--kpmPaneText);
  --kpmButtonHoverBg: var(--kpmPaneFg);
  --kpmButtonHoverFg: var(--kpmButtonBg);
  --kpmButtonHoverText: var(--kpmButtonBg);
  --kpmButtonRadius: 0.25em;

  --kpmIconFg: #{colors.$linkBlue};
}
