// Make space in Canvas for KPM, this was taken verbatim from Social

div.ef-file-preview-overlay { 
  /*to keep the Canvas preview below the personal menu*/
  margin-top: var(--kpm-bar-height);
}
div.ReactTrayPortal div.ReactTray__Overlay,
#flash_message_holder {
  top: var(--kpm-bar-height) !important;
}
header.ic-app-header {
  height: calc(100% - var(--kpm-bar-height));
  top: var(--kpm-bar-height);
}
body.use-personal-menu div.ui-widget.ui-tooltip {
  z-index: 10030;
}

body.use-personal-menu #nav-tray-portal > span > span,
div#main.ic-Layout-columns > span > span, #discussion-toolbar > div {
  top: var(--kpm-bar-height);
}
body.use-personal-menu .bcs__trigger {
  top: var(--kpm-bar-height);
  &::after {
      top: calc(58px + var(--kpm-bar-height));
  }
}
