@keyframes kpmRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes kpmRotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#kpm-6cf53 .kpm-empty-placeholder {
  display: flex;
  min-height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  color: var(--kpmPaneTextMuted);
  font-size: 1.2em;
  font-weight: bold;
}

#kpm-6cf53 .kpm-loading-placeholder {
  display: flex;
  min-height: 20rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  .kpm-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--kpmPaneFg) var(--kpmPaneFg) transparent;
    animation: kpmRotation 1s linear infinite;
  }
  .kpm-loader::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent var(--kpmPaneFg) var(--kpmPaneFg);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: kpmRotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
}

#kpm-6cf53 .kpm-error-message {
  display: flex;
  min-height: 20rem;
  width: 100%;
  padding: var(--kpmPad);
  gap: var(--kpmGap);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.9em;
  line-height: 2em;

  &.compact {
    min-height: unset;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 400;
  }

  p {
    color: var(--kpmPaneTextSoft);
    max-width: 50ch;
  }

  .kpm-login-widget {
    padding: calc(3 * var(--kpmPad)) calc(4 * var(--kpmPad));
    padding-left: 0;
  }
}
