@use "../vars" as *;

#kpm-6cf53 .kpm-course-rooms-dd-item {
  $rowGap: calc(3 * var(--kpmGap));
  $colGap: $rowGap;
  display: flex;
  flex-flow: column nowrap;
  gap: $rowGap $colGap;
  align-items: flex-start;
  margin-top: $rowGap;

  &:first-child {
    margin-top: 0;
  }

  & > li {
    margin: 0!important;
  }

  a {
    display: inline;
    word-wrap: normal;
  }

  @media #{$mblBreakpoint} {
    padding: 0 calc(3 * var(--kpmPad));
  }
}
