@use "../vars" as *;

#kpm-6cf53 .kpm-course-rooms {
  $rowGap: calc(3 * var(--kpmGap));
  $colGap: $rowGap;

  menu {
    display: flex;
    flex-flow: column nowrap;
    gap: $rowGap $colGap;
    align-items: flex-start;

    & > li {
      margin: 0;
    }
  }

  a {
    display: inline;
    word-wrap: normal;
  }

  .kpm-link-list {
    min-height: unset!important;
  }

  @media #{$mblBreakpoint} {
    padding: 0 calc(3 * var(--kpmPad));
  }
}
