@use "../vars" as *;

.kth-menu-item {
  white-space: nowrap;
}

.kpm-entrances {
  display: none;
}

@media screen and (min-width: $breakpoint-xl) {
  .kpm-entrances {
    display: block;
  }
  .kpm-entrances-expandable {
    display: none;
  }
}
