@use "../vars" as *;

#kpm-6cf53 .kpm-tab-filter {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: calc(4 * var(--kpmGap));
  width: 100%;

  & > ul {
    display: flex;
    flex-flow: row wrap;
    gap: $rowGap $colGap;
  }

  & > ul > li {
    margin-bottom: var(--kpmGap);
    cursor: pointer;

    &.active {
      font-weight: bold;
      border-bottom: 4px solid var(--kpmLink);
      margin-bottom: calc(var(--kpmGap) - 4px);
    }
  }
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 .kpm-tab-filter {
    font-size: 1.1em;
  }
}
