@import "../vars";

#kpm-6cf53 svg.icon.star {
  width: 1.25em;
  height: 1.25em;
  flex-shrink: 0;
  color: var(--kpmIconFg);
}

@media #{$mblBreakpoint} {
  #kpm-6cf53 svg.icon.star {
    width: 1em;
    height: 1em;
  }
}
