.kpm-loading-indicator {
  width: 100%;
  height: var(--kpmPad);
  background: blue;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  position: absolute;

  &.loading {
    opacity: 1;
    background: linear-gradient(-45deg, transparent, #eee, var(--kpmLink), #eee);
    background-size: 500% 300%;
    animation: kpmMenuLoadingAnim 1.8s infinite alternate-reverse;
  }
}

@keyframes kpmMenuLoadingAnim {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}