#kpm-6cf53 .menu-spacer {
  flex-shrink: 1;
  width: 100%;
}

#kpm-6cf53 .modal-backdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6))
}

#kpm-6cf53 .ModalBackdropAnim {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity .3s ease-out;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity .2s ease-in;
  }
}

#kpm-6cf53 .modal {
  z-index: -1;
  display: block;
  position: relative;
  border: unset;
  width: calc(100% - 4 * var(--kpmMargin));
  padding: 0;
  background-color: var(--kpmPaneBg);
  color: var(--kpmPaneText);
  left: unset;
  right: unset;
  margin: unset;
  // flex-grow: 1;
  overflow-y: auto;

  margin-bottom: var(--kpmMargin);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#kpm-6cf53 .modal-content {
  padding: calc(2 * var(--kpmPad));
}