#kpm-6cf53 .KpmModalBackdropAnim {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.15s ease-in;
  }
}

#kpm-6cf53 .kpm-modal {
  $rowGap: calc(2 * var(--kpmGap));
  $colGap: calc(4 * var(--kpmGap));

  // z-index: -1;
  display: block;
  position: relative;

  // Override some browser defaults
  border: unset;
  left: unset;
  right: unset;
  margin: unset;
  overflow-y: auto;

  // Leave som space to the sides of modal on desktop
  width: calc(100% - 4 * var(--kpmMargin));
  max-width: 80rem;

  // Styling
  padding: 0;
  background-color: var(--kpmPaneBg);
  color: var(--kpmPaneText);

  margin-bottom: var(--kpmMargin);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  a {
    color: var(--kpmLink);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .kpm-modal-content {
    padding: calc(2 * var(--kpmPad));
    accent-color: var(--kpmPaneFg);
    display: flex;
    flex-flow: row wrap;
    gap: $rowGap $colGap;
  }

  .kpm-modal-content-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    h2 {
      flex-grow: 1;
      font-size: 1.42em;
      font-weight: bold;
    }

    .kpm-modal-content-header-actions {
      flex-grow: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: $rowGap $colGap;
    }
  }
}
