#studies {
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0;
    h2 {
      margin: 0;
    }
    div {
      display: flex;
      align-items: center;
      a {
        &:first-child {
          margin-right: 1em;
        }
      }
    }
  }

  .tabs {
    ul.tabs-navigation {
      margin-bottom: 1em;
      border-bottom: 1px solid $borderGrey;
      display: inline-flex;
      li {
        cursor: pointer;
        padding: 0 0.5em;
        &:first-child {
          padding-left: 0;
        }
        &::after {
          content: "|";
          color: $black;
          padding-left: 0.5em;
        }
        a {
          color: $grey;
          &:hover {
            border-bottom: 2px solid $blueHover;
            text-decoration: none;
          }
          &.active {
            border-bottom: 2px solid $blueHover;
            font-weight: bold;
            color: $black;
          }
        }
      }
    }
  }

  section {
    // ul {
    //   margin: 0;
    //   padding: 0;
    //   list-style: none;
    // }
  }

}
